
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

*{padding: 0;
 margin: 0;}

 form{
    margin-left: 10px;
    width: 150%;
 }
.header{
   background-color: #388C6D;
   padding: auto;
   
}
.titulo{
    color: white;
    margin-left: 5px;
    font-family: "Raleway", "Arial";
    font-size: 50px;
    
}
.perfil{
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 20px;
}
.sobre{
    position: fixed;
    bottom: 619px;
    right: 0px;
    width: 100px;
}
.contato{
    position: fixed;
    bottom: 619px;
    right: 105px;
    width: 100px;
}
.inicio{
    position: fixed;
    bottom: 619px;
    right: 210px;
    width: 100px;
}
input[type="text"],
input[type="date"],
input[type="number"],
select,
textarea{
    padding: 16px;
    border: 2px solid #388C6D;
    border-radius: 8px;
    margin-bottom: 16px;
    font-size: 16px;
    width: 20%;
    box-sizing: border-box;
}

form{
    font-size: 15px;
}
.cadastro{
    padding: 0;
    margin: 0;
    background-color: #E6E6E6;

}
.tabela{
    padding: 0;
    margin: 0;
    background-color: #E6E6E6;
    color:  white;

}
input[type="submit"] {
    background-color: #388C6D;
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 8px;
}
input[type="reset"] {
    background-color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 8px;
}

.btn{
    color: white;

}

.rodape{
}

p{
    text-align: center;
    background-color: #388C6D;
    font-size: 12px;
    color: white;
}

